@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: @comment-green;
  &.double-slash {
      color: @cyan;
  }
  &.phpdoc {
      color: @comment-green;
  }
}

.entity {
  &.name.type {
    color: @blue;
  }

  &.other.inherited-class {
    color: @green;
  }
}

.keyword {
  color: @pink;

  &.control {
    color: @pink;
  }

  &.operator {
    color: @pink;
  }

  &.other.special-method {
    color: @blue;
  }

  &.other.unit {
    color: @orange;
  }
  &.other.phpdoc {
      color: @comment-blue;
  }
}

.storage {
  color: @pink;
}

.constant {
  color: @purple;

  &.character.escape {
    color: @cyan;
  }

  &.numeric {
    color: @purple;
  }

  &.other.color {
    color: @cyan;
  }

  &.other.symbol {
    color: @green;
  }
  &.other.php {
      color: @purple;
  }
  &.language.php {
      color: @pink;
  }
}

.css >
    &.variable {
        color: @navy-blue;
    }

.variable {
  color: @white;
  &.php {
      color: @white;
  }
  &.coffee {
    color: @blue;
    &.instance, &.assignment {
      color: @white;
      font-style: italic;
    }
    &.language.this {
      color: @pink;
    }
  }
  &.interpolation {
    color: darken(@red, 10%);
  }

  &.parameter.function {
    color: @white;
    &.coffee {
      color: @orange;
    }
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @yellow;

  &.regexp {
    color: @cyan;

    .source.ruby.embedded {
      color: @orange;
    }
  }

  &.other.link {
    color: @red;
  }
}

.punctuation {
  &.definition {
    &.comment {
      color: @light-gray;
      &.php {
          color: @comment-green;
      }
    }

    &.variable {
        color: @white;
    }
    &.string,
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: @blue;
    }

    &.bold {
      color: @yellow;
      font-weight: bold;
    }

    &.italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: @pink;
  }
  &.section.scope {
      color: @white;
  }

}

.support {
  &.class {
    color: @blue;
    &.coffee {
      color: @white;
      font-style: italic;
    }
  }

  &.function  {
    color: @green;

    &.any-method {
      color: @blue;
    }
  }
}

.entity {
  &.name.function {
    color: @green;
  }

  &.name.class, &.name.type.class {
    color: @blue;
  }

  &.name.section {
    color: @blue;
  }

  &.name.tag {
    color: @navy-blue;
    text-decoration: underline;
    &.html {
      color: @pink;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &.other.attribute-name {

    &.id {
      color: @blue;
    }

    &.html {
      color: @blue;
    }
  }
}

.css {
    &.property-name, &.attribute-name {
      color: @gum-blue;
    }
    &.entity.tag.name {
      color: @gum-purple;
      text-decoration: none;
    }
    &.property-value {
      color: @gum-red;
    }
    &.keyword.unit, &.numeric {
      color: @gum-green;
    }
}

.meta {
  &.class {
    color: @yellow;
  }

  &.link {
    color: @orange;
  }

  &.require {
    color: @blue;
  }

  &.selector {
    color: @purple;
  }

  &.separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
  &.function.argument
    .variable {
      color: @orange;
  }
  &.function-call {
      color: @green;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-weight: bold;
  }

  &.changed {
    color: @purple;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @purple;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @green;
  }
}

.list-group li {
    &.list-item.text-success {
        color: @green;
    }
    &.list-item.text-info {
        color: @blue;
    }
    &.list-item.text-warning {
        color: @yellow;
    }
    &.list-item.text-error {
        color: @red;
    }
}

.btn {
    &.btn-warning {
        background-color:@yellow;
    }

}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
}
